@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
	font-family: Raleway;
	color:#666;
}
a{
	color: #666;
}
a:hover{
	color: #aaa;
}

#credit{
	position: absolute;
	bottom: 10px;
	right:10px;
	color: #aaa;
	font-size: 16px;
}

/*** INFO ***/

#container{
	width:800px;
	height:400px;
	position: absolute;
	top:0;bottom:50px;left:0;right:0;
	margin:auto;
}
#container > div{
	float:left;
	margin-right:20px;
}
#container > #logo{
	font-size: 60px;
	height: 100px;
	position: relative;
	top: 140px;
}
#container > #info{
	width: 300px;
	height: 175px;
	position: relative;
	top: 100px;
	float: right;
	letter-spacing: 2px;
}

/*** GRAY ***/

.gray{
	-webkit-filter: grayscale(1) brightness(1.5);
	-moz-filter: grayscale(1) brightness(1.5);
	-ms-filter: grayscale(1) brightness(1.5);
	filter: grayscale(1) brightness(1.5);

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.gray:hover{
	-webkit-filter: grayscale(0) brightness(1.1);
	-moz-filter: grayscale(0) brightness(1.1);
	-ms-filter: grayscale(0) brightness(1.1);
	filter: grayscale(0) brightness(1.1);
}

/*** CUBE ***/

.container {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #CCC;
	-webkit-perspective: 1000px;
	 -moz-perspective: 1000px;
	   -o-perspective: 1000px;
	      perspective: 1000px;
}

#cube {
	width: 0px;
	height: 0px;
	
	position: relative;
	top: 100px;
	left: 80px;

	-webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	   -o-transform-style: preserve-3d;
	      transform-style: preserve-3d;

	-webkit-transform: rotateX(-35deg) rotateY(-45deg);
	-webkit-transform-origin: 80px 80px;

	-moz-transform: rotateX(-35deg) rotateY(-45deg);
	-moz-transform-origin: 80px 80px;

	-ms-transform: rotateX(-35deg) rotateY(-45deg);
	-ms-transform-origin: 80px 80px;

	transform: rotateX(-35deg) rotateY(-45deg);
	transform-origin: 80px 80px;

}

#cube div {
	display: block;
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 196px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-align: center;
}

#cube .front  {
	background: url(faces/art.jpg);
}
#cube .right  {
	background: url(faces/film.jpg);
}
#cube .top    {
	background: url(faces/fashion.jpg);
}

#cube .front  {
	-webkit-transform: translateZ( 100px );
	 -moz-transform: translateZ( 100px );
	   -o-transform: translateZ( 100px );
	      transform: translateZ( 100px );
}
#cube .right {
	-webkit-transform: rotateY(   90deg ) translateZ( 100px );
	 -moz-transform: rotateY(   90deg ) translateZ( 100px );
	   -o-transform: rotateY(   90deg ) translateZ( 100px );
	      transform: rotateY(   90deg ) translateZ( 100px );
}
#cube .top {
	-webkit-transform: rotateX(   90deg ) translateZ( 100px );
	 -moz-transform: rotateX(   90deg ) translateZ( 100px );
	   -o-transform: rotateX(   90deg ) translateZ( 100px );
	      transform: rotateX(   90deg ) translateZ( 100px );
}